<%= form_for(@friend, multipart: true) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :medium %>
    <%= f.text_field :medium %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :avatar%>
  </div>
  <div class="field">
    <%= f.hidden_field :lat, :id => "lat_field"%>
    <%= f.hidden_field :lng, :id => "lon_field"%>
  </div>
  <div class="actions">
    <%= f.submit 'Upload Art' %>
    <%= link_to 'Cancel', friends_path, class: 'button' %>
  </div>
<% end %>